### Markdown Basics
* **Bold** *italic* <br>
* **bold and _italic_**
* ***Bold 
* normal text
  * sublist 1
  * sublist 2
  
  
  > 1. Ordered list element 1
  > 2. ordered list element 2

- [ ] Option 1
- [ ] Option 2
- [x] Option 3

<https://google.com>

[Jupyter Logo](Jupyterlogo.png)

![Jupyter Logo](Jupyterlogo.png)

<img src="Jupyterlogo.png" style="float:left">

## Python Basics
### Python version 3.7
- Scripting
- Object Oriented
- Functional

In [9]:
# python comments


print("Good afternoon","!",end="||") # basic output
print("Hello Python")

Good afternoon !||Hello Python

### Assignment

In [15]:
n1 = 123456 # Single Variable Assignment

n2= n3 = n4 = n1 # Multi Variable Assignment  of the same value

a, b, c = 122, 234, 345 # Multi Variable Assignment with different values

print(a,b,c)

122 234 345

### Arithmetic Operations
- +
- -
- *
- /
- %
- **

In [27]:
n1 % 11

n3 = n2 ** 123456
atoms = 10 ** 82
type(n3)
len(str(n3))
atoms

10000000000000000000000000000000000000000000000000000000000000000000000000000000000

### Data Types
- int
- float
- string

In [35]:
s1 = "Pyrhon"
type(s1)
f1 = 22.32423
type(f1)

int(f1)
str(int(f1))

'22'

### Conditionals

In [39]:
if atoms < 10 ** 99:
    print("TRUE")
else:
    print("FALSE")

TRUE

In [40]:
# Check if a number is Even

n=123
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [43]:
# Find the greatest of three numbers

n1=int(input("Enter the first number"))
n2=int(input("Enter the second number"))
n3=int(input("Enter the third number"))
if n1>n2 and n1>n3:
       print(n1, "is the greatest")
elif n2 > n3:
       print(n2, "is the greatest")
else:
       print(n3, "is the greatest")

Enter the first number34
Enter the second number44
Enter the third number453451
453451 is the greatest

In [57]:
# Check if an year is a leap year

a = int(input("Enter a number"))
if (a%400 == 0 or (a%100 !=0 and a%4 ==0)):
    print(a," is a Leap year")
else:
    print(a," is not a Leap year")

Enter a number1996
1996  is a Leap year

In [47]:
# Check if a number exists in a given range(inclusive)

n1=int(input("enter a number"))
lb=int(input("enter a lower bound"))
up=int(input("enter a upper bound"))
if n1>=lb and n1<=up:
    print("True")
else:
    print("False")

enter a number34
enter a lower bound12
enter a upper bound565
True

In [45]:
# Calculate the number of digits in a number
n=input("Enter a number")
v=len(n)
print(v," digits in a ",n," number")

Enter a number121324
6  digits in a  121324  number

In [53]:
# Check if a number is a factor of 1000
n=int(input("enter a number"))
if n<=1000:
    if 1000 % n == 0:
        print(n," is a factor of 1000")
    else:
        print(n," is not a factor of 1000")
else:
    print(" enter a number less than are equal to 1000")

enter a number10004
 enter a number less than are equal to 1000

In [52]:
# Check if a number is a multiple of 10
n = int(input("enter a number"))
if n % 10 == 0:
    print(n," is a multiple of 10")
else:
    print(n," is not a multiple of 10")

enter a number235
235  is not a multiple of 10

In [ ]:
# Check if given string is equal to a number
s1=input("enter a string")
n1=int(input("Enter a number"))
if str(n1)==s1:
    print("Same")
else:
    print("not equal")

In [ ]:
# Calculate the Square root of a number without function

In [58]:
# Calculate the number of nano seconds in a given year(considering leap year logic)
a=int(input("enter a year"))
if (a%400 == 0 or (a%100 !=0 and a%4 ==0)):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**9))

enter a year2014
31536000000000000